{
  "manager" : {
    "manage" : {
      "addr" : "{{ hostvars[groups['manager'][0]]['ansible_eth2']['ipv4']['address'] }}"
    }
  },
  "agent" : {
    "ether" : "eth1",
    "manage" : {
      "addr" : "{{ ansible_eth2.ipv4.address }}"
    },
    "service" : {
      "addr" : "{{ ansible_eth1.ipv4.address }}",
      "mask" : "{{ ansible_eth1.ipv4.netmask }}",
      "mac" : "{{ ansible_eth1.macaddress }}"
    }
  }
}
